*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    
    height: 100vh;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 75%;
}

img {
    display: none;
}

#first_mem,
#second_mem,
#third_mem,
#fourth_mem {
    display: none;
}



#second_mem:checked ~ img {
    display: flex;
}

.items_wrapper {
    display: flex;
    flex-direction: column;
}

label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.minus {
    display: none;
}